.bet-card {
    margin: auto;
}

.img{
    height: 85px;
    width: 80px;
    padding: 10px;
    margin-left: 10px;
}

.img2{
    height: 85px;
    width: 80px;
     padding: 10px;
    position: absolute;
    right: 10px;
}

.vs2 {
    position: absolute;
    left: 43%;
    top: 30px;
    font-weight: bold;
    font-size: 25px;
}

.home-name{
    top: 72px;
    position: absolute;
    left: 5%;
    font-size: larger;
}

.visitors-name{
    top: 72px;
    position: absolute;
    right: 5%;
    font-size: larger;
}

.bet-title2{
    margin-left: 24%;
    display: inline-block;
    padding-top: 12px;
}