.game {
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid rgb(0, 0, 0, 0.4);
}

.game-logo {
  height: 20px;
  margin-left: 5px;
}

.game-list{
    margin-bottom: 20px;
    /* border-radius: 10px;
    border: 1px solid rgb(0, 0, 0, 0.5);
    padding: 20px 50px; */
}