.header {
  font-size: 5vw;
  font-weight: 600;
  margin: 0 0 10vw 0;
}

.expSection {
  font-size: 3vw;
  font-weight: 600;
  margin: 4vw 6vw 0vw 10vw;
}

.welcomeBody {
  margin-top: 4vh;
  margin-bottom: 4vh;
  padding: 0px 10vw;
}

.chooseContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0vw 0 10vw 0;
}

.chooseSport {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 10vw;
}
.chooseTitle {
  font-size: 3vw;
  font-weight: 600;
  margin: 0 2vw 0 2vw;
}
.chooseButton {
  font-size: 2.5vw;
  font-weight: 600;
  margin: 0 2vw 0 2vw;
}
.game {
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid rgb(0, 0, 0, 0.4);
}

.game-logo {
  height: 20px;
  margin-left: 5px;
}

html,
body {
  /* max-width: 95vw; */
  overflow-x: hidden;
}

.calender {
  margin-top: 100px;
  display: block;
  width: 500px;
  height: 200px;
  background-color: red;
}

.home-title {
  margin-top: 20px;
  margin-left: 25%;
}

.drop {
  max-height: 220px;
  overflow-y: scroll;
}

.drop-container {
  margin-top: 15px;
}

.gameList {
  margin-bottom: 20px;
   padding: 0px 20%;
}
