.signup {
    width: 30%;
    height: 480px;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 5px;
    margin: auto;
    margin-top: 200px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 250px;
    width: 80%;
    margin-left: 10%;
}

.signup-input{
    margin-left: 20%;
}

.signup-input2{
    margin-left: 30%;
}

.signup-input3{
    margin-left: 22%;
}

.signup-input4{
    margin-left: 5%;
}