.bets-container{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.marketplace-body{
    width: 100%;
    height: fit-content;
    background-color: rgb(108, 107, 107);
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid rgb(249, 249, 249);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin-left: 43%;
    /* margin-bottom: 130px; */
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 